@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 16px;
}
:root{
  --clr-seaweed: #177e89ff;
--clr-eagle-green: #084c61ff;
--clr-red: #db3a34ff;
--clr-yellow: #ffc857ff;
--clr-jet: #323031ff;
--clr-black:#1f1b1b;
--clr-white:#ffffff;
--box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
li{
  list-style:none;
}





body{
  font-family: 'Poppins', sans-serif;
  background-color:var(--clr-eagle-green );
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 100vh;

}
h1{
  color:var(--clr-yellow);
}
.input-container .todo{
  padding:0.75rem 0.55rem;
  width: 25rem;
  
}
.input-container button{
  width: 5rem;
  padding:0.2rem 0.2rem;
  margin: auto;
  cursor: pointer;
}
.input-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list-container{
  width: 30rem;
  height:auto;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1.5px dotted white;
  color: #ffffff;

}
.todo-list-container li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: rgb(209, 103, 149);
  padding: 1rem;

}

.update{
  color:rgb(31, 123, 31);
}
.delete{
  color: rgb(211, 26, 26);
}



@media screen and (max-width:768px){
  .input-container .todo{
    padding:0.75rem 0.40rem;
    width: 16rem; 
}
.input-container button{
  width: 6rem;
}
.todo-list-container{
  width: 17rem;
}
.todo-list-container li {
  background-color: rgb(209, 103, 149);
  padding: 0.2rem;
  fo

}



}